.flag {
  min-height: 7rem;
  padding: 0.8rem;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background: #fff;
  cursor: pointer;
}

.flag:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.flag img {
  width: 100%;
  height: 70px;
  object-fit: contain;
  margin-bottom: 0.4rem;
}


.flag p {
  font-size: 0.85rem;
  font-weight: 500;
  color: #555;
  margin: 0;
}
